@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,600&display=swap');

body {
   background-color: #222
}


.container {
   color: white;
   font-weight: bold;
   font-size: 18.5px;
   font-family: 'Source Sans Pro', sans-serif;
}

.shop {
   width: 500px;
   height: 150px;
   background-color: white;
   border-radius: 10px;
   opacity: 0.85;
   margin-left: auto;
   margin-right: auto;
   margin-top: 400px;
   color: black;
   padding: 20px;
   text-align: center;
}


.cursor {
   background-color: lightblue;
   height: 40px;
   width: 200px;
   border-radius: 10px;
   margin-top: 10px;
   padding: 5px;
   text-align: center;
   display: block;
   cursor: pointer;
   border: none;
}

.cookieFarm {
   background-color: lightblue;
   height: 40px;
   width: 200px;
   border-radius: 10px;
   margin-top: 10px;
   padding: 5px;
   text-align: center;
   display: block;
   cursor: pointer;
   border: none;
}

.totalCookies {
   text-align: center;
   background-color: grey;
   width: 250px;
   height: 50px;
   border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
   font-family: 'Source Sans Pro', sans-serif;
   padding: 1px;
}



